.react-datepicker-popper {
    z-index: 1000000;
}

.react-datepicket-custom-styles {
    height: 56px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__view-calendar-icon input {
    padding: 6px 10px 5px 15px;
}
