.mt-content {
    margin-top: 20px;
    iframe {
        border: 1px solid gray;
    }
}

.download-button-container {
    margin-bottom: 20px !important;
    text-align: center;
    a {
        margin: auto;
        text-transform: none;
    }
}