.mt-content {
    margin-top: 20px;
    iframe {
        border: 1px solid gray;
    }

    img {
        object-fit:contain;
    }
    .casovida {
        background-color: #CFEEF9;
        color: #000000;
        padding: 20px;
        font-weight: bold;
        font-size: 16px;
        text-align: justify;
    }
}

.download-button-container {
    margin-bottom: 20px !important;
    text-align: center;
    a {
        margin: auto;
        text-transform: none;
    }
}

iframe {
    width: 80% !important;
    height: 500px !important;
}