.list-card-content {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    p {
        text-align: center !important;
        font-weight: bold;
    }
}

.card-course {
    cursor: pointer;
    margin-bottom: 20px;
    margin: auto;
}